nav {
   display: flex;
   justify-content: center;
   gap: 2rem;
   padding: 0.5rem 1.7rem; 
   background-color: rgba(17, 34, 64, 0.9);
   width: max-content;
   position: fixed;
   left: 50%;
   border-radius: 5rem;
   bottom: 1rem;
   transform: translateX(-50%);
   z-index: 2;
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-bg);
    font-size: 1.5rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav a.active {
    background: rgba(255, 255, 255, 0.3);
    color: var(--color-dark);
}

/* *************MEDIA QUERIES (SMALL DEVICE)*********** */
  
@media  screen and (max-width: 600px) {
    nav a {
        background: transparent;
        padding: 0.9rem;
        border-radius: 50%;
        display: flex;
        color: var(--color-bg);
        font-size: 1rem;
    }
}
